nav 
    a(href="../index.html")
        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512")
            path(fill="#ffffff" d="M9.4 233.4c=12.5 12.5-12.5 32.8 0 4") 
main 
    header 
        h1 12-Include
        h2 Demonstrates how to include reusable code sgments within a 
    section 
        h3 Lorem ipsum dolor 
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur quasi quos consequatur cum, sit fugiat minima placeat aliquid unde, ullam explicabo error et voluptas. Aspernatur rerum in harum dolorum. Nostrum. 